<div id="container" align="center">
	<div class="fbbutton">
		<button class="fbauth" style="width:150px; height:50px; background-color:#3B5998; color:white; border-radius:8px; cursor:pointer" ng-click="signup()">Sign Up or Sign In</button>
	</div>
	
	<h1>LenderBee</h1>

	<h3>Borrow Something</h3>
  <div>
  	<!-- Maybe include some validation here as well; searchItem should take the argument searchQuery.querystr. For the time being, this doesn't take anything since it just redirects -->
  	<form name="searchbar" ng-submit="searchItem(searchQuery.querystr)">
  		<input type="text" ng-model="searchQuery.querystr">
  		<button class="search">Search</button>
  	</form>
  </div>
</div>
